[submodule "codeduel-lobby"]
	path = codeduel-lobby
	url = https://github.com/whatasave/codeduel-lobby
[submodule "codeduel-runner"]
	path = codeduel-runner
	url = https://github.com/whatasave/codeduel-runner
[submodule "codeduel-fe"]
	path = codeduel-fe
	url = https://github.com/whatasave/codeduel-fe
[submodule "codeduel-be"]
	path = codeduel-be
	url = https://github.com/whatasave/codeduel-be
